<h1>Listing api_v1_users</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @api_v1_users.each do |api_v1_user| %>
      <tr>
        <td><%= api_v1_user.username %></td>
        <td><%= api_v1_user.email %></td>
        <td><%= api_v1_user.firstname %></td>
        <td><%= api_v1_user.lastname %></td>
        <td><%= api_v1_user.title %></td>
        <td><%= link_to 'Show', api_v1_user %></td>
        <td><%= link_to 'Edit', edit_api_v1_user_path(api_v1_user) %></td>
        <td><%= link_to 'Destroy', api_v1_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_api_v1_user_path %>
