<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @admin_plot.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @admin_plot.price %>
</p>

<p>
  <strong>Features:</strong>
  <%#= @admin_plot.features.name %>
</p>

<p>
  <strong>Property type:</strong>
  <%= @admin_plot.property_type.name %>
</p>

<p>
  <strong>Region:</strong>
  <%= @admin_plot.region.name %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @admin_plot.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @admin_plot.address2 %>
</p>

<p>
  <strong>Town:</strong>
  <%= @admin_plot.town %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @admin_plot.postcode %>
</p>

<%= link_to 'Edit', edit_admin_plot_path(@admin_plot) %> |
<%= link_to 'Back', admin_plots_path %>
